@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Muli', sans-serif;
    color: #222;
    font-size: 25px;
}

.navbar {
    /*rgba mau do, xanh la cay , xanh da troi 0.9 do trong !important set de len boostrap !*/
    background-color: white !important;
}


/* hover khi di chuot cao the a*/

.navbar li a:hover {
    color: white !important;
}

.carousel-inner img {
    width: 100%;
}


/* vi tri tuong doi cach top 50%*/

.carousel-caption {
    position: absolute;
    top: 50%;
}

.carousel-caption h1 {
    font-size: 400%;
    /*tang kich co x4*/
    text-transform: uppercase;
    text-shadow: 5px 5px 15px #000;
    /*5px dat ra x  5px nghieng theo y 15px bong mo + mau*/
}

.carousel-caption h3 {
    font-size: 200%;
    /*tang kich co x4*/
    text-shadow: 2px 2px 15px #000;
    /*5px dat ra x  5px nghieng theo y 15px bong mo + mau*/
}


/* set mau sac*/

.btn-primary {
    background-color: rgb(82, 64, 120);
    border: 1px solid white;
}


/* khi hover */

.btn-primary:hover {
    background-color: rgb(62, 44, 100);
    border: 1px solid white;
}

.jumbotron {
    padding: 1rem;
    border-radius: 0;
}


/* phan tach phan tren va duoi bang 1 hr */

.welcome hr {
    border-top: 2px solid rgb(62, 44, 100, 0.6);
    width: 95%;
    margin-bottom: 2rem;
}

.fa-react {
    color: #81d8f7;
}

.fa-node-js {
    color: rgb(60, 135, 58);
}

.fa-css3 {
    color: #d76537;
}

.fa-react,
.fa-node-js,
.fa-css3 {
    font-size: 4em;
    margin: 1rem;
}

.fun {
    width: 100%;
}

.social a {
    font-size: 3em;
    /*1em = 16px 1rem = 1 font-size */
    padding: 3rem;
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #00aced;
}

.fa-instagram {
    color: #517fa4;
}

.fa-google-plus-g {
    color: #dd4b39;
}

.fa-youtube {
    color: #bb0000;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
}

hr .light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
}

.cart-icon {
    color: black;
}

.logo {
    color: blanchedalmond;
    margin-top: 5%;
}

.w-btn {
    border-color: black;
    color: black;
}

.btn-choose {
    background-color: white;
    margin-right: 5px;
    border-color: white;
}

.left-body {
    border-right-color: black;
}


/* lam cho chu khong bien mat khi zoom or move trai move phai */


/*Media Query*/

@media (max-width: 992px) {
    .carousel-caption {
        top: 20%;
    }
    .carousel-caption h1 {
        font-size: 250%;
    }
    .carousel-caption h3 {
        font-size: 160%;
    }
    .carousel-caption .btn {
        font-size: 120%;
    }
}

@media (max-width: 768px) {
    .carousel-caption {
        top: 20%;
    }
    .carousel-caption h1 {
        font-size: 220%;
    }
    .carousel-caption h3 {
        font-size: 140%;
        padding-bottom: 0.2rem;
    }
    .carousel-caption .btn {
        font-size: 95%;
        padding: 8px 14px;
    }
}

@media (max-width: 576px) {
    .carousel-caption {
        top: 10%;
    }
    .carousel-caption h1 {
        font-size: 150%;
    }
    .carousel-caption h3 {
        font-size: 110%;
    }
    .carousel-caption .btn {
        font-size: 90%;
        padding: 4px 8px;
    }
    /* filter*/
    .form-box {
        padding: 8px;
        /*makes it look neat*/
        border-radius: 4px;
        /*or 2px*/
        border: 1px solid red;
    }
    .breadcrumb-item+.breadcrumb-item::before {
        content: ">"
    }
    .breadcrumb {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: .1rem 0rem !important;
        margin-bottom: 0rem;
        list-style: none;
        background-color: #ffffff;
        border-radius: .25rem
    }
    .single_product {
        padding-top: 66px;
        padding-bottom: 140px;
        background-color: #e5e5e5;
        margin-top: 0px;
        padding: 17px
    }
    .product_name {
        font-size: 20px;
        font-weight: 400;
        margin-top: 0px
    }
    .badge {
        display: inline-block;
        padding: 0.50em .4em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25rem
    }
    .product-rating {
        margin-top: 10px
    }
    .rating-review {
        color: #5b5b5b
    }
    .product_price {
        display: inline-block;
        font-size: 30px;
        font-weight: 500;
        margin-top: 9px;
        clear: left
    }
    .product_discount {
        display: inline-block;
        font-size: 17px;
        font-weight: 300;
        margin-top: 9px;
        clear: left;
        margin-left: 10px;
        color: red
    }
    .product_saved {
        display: inline-block;
        font-size: 15px;
        font-weight: 200;
        color: #999999;
        clear: left
    }
    .singleline {
        margin-top: 1rem;
        margin-bottom: .40rem;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, .1)
    }
    .product_info {
        color: #4d4d4d;
        display: inline-block
    }
    .product_options {
        margin-bottom: 10px
    }
    .product_description {
        padding-left: 0px
    }
    .product_quantity {
        width: 104px;
        height: 47px;
        border: solid 1px #e5e5e5;
        border-radius: 3px;
        overflow: hidden;
        padding-left: 8px;
        padding-top: -4px;
        padding-bottom: 44px;
        float: left;
        margin-right: 22px;
        margin-bottom: 11px
    }
    .order_info {
        margin-top: 18px
    }
    .shop-button {
        height: 47px
    }
    .product_fav i {
        line-height: 44px;
        color: #cccccc
    }
    .product_fav {
        display: inline-block;
        width: 52px;
        height: 46px;
        background: #FFFFFF;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
        border-radius: 11%;
        text-align: center;
        cursor: pointer;
        margin-left: 3px;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease
    }
    .br-dashed {
        border-radius: 5px;
        border: 1px dashed #dddddd;
        margin-top: 6px
    }
    .pr-info {
        margin-top: 2px;
        padding-left: 2px;
        margin-left: -14px;
        padding-left: 0px
    }
    .break-all {
        color: #5e5e5e
    }
    .image_selected {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: calc(100% + 15px);
        height: 525px;
        -webkit-transform: translateX(-15px);
        -moz-transform: translateX(-15px);
        -ms-transform: translateX(-15px);
        -o-transform: translateX(-15px);
        transform: translateX(-15px);
        border: solid 1px #e8e8e8;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        padding: 15px
    }
    .image_list li {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 165px;
        border: solid 1px #e8e8e8;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1) !important;
        margin-bottom: 15px;
        cursor: pointer;
        padding: 15px;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
        overflow: hidden
    }
    @media (max-width: 390px) {
        .product_fav {
            display: none
        }
    }
    .bbb_combo {
        width: 100%;
        margin-right: 7%;
        padding-top: 21px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 24px;
        border-radius: 5px;
        margin-top: 0px;
        text-align: -webkit-center
    }
    .bbb_combo_image {
        width: 170px;
        height: 170px;
        margin-bottom: 15px
    }
    .fs-10 {
        font-size: 10px
    }
    .step {
        background: #167af6;
        border-radius: 0.8em;
        -moz-border-radius: 0.8em;
        -webkit-border-radius: 6.8em;
        color: #ffffff;
        display: inline-block;
        font-weight: bold;
        line-height: 3.6em;
        margin-right: 5px;
        text-align: center;
        width: 3.6em;
        margin-top: 116px
    }
    .row-underline {
        content: "";
        display: block;
        border-bottom: 2px solid #3798db;
        margin: 0px 0px;
        margin-bottom: 20px;
        margin-top: 15px
    }
    .deal-text {
        margin-left: -10px;
        font-size: 25px;
        margin-bottom: 10px;
        color: #000;
        font-weight: 700
    }
    .padding-0 {
        padding-left: 0;
        padding-right: 0
    }
    .padding-2 {
        margin-right: 2px;
        margin-left: 2px
    }
    .vertical-line {
        display: inline-block;
        border-left: 3px solid #167af6;
        margin: 0 10px;
        height: 364px;
        margin-top: 4px
    }
    .p-rating {
        color: green
    }
    .combo-pricing-item {
        display: flex;
        flex-direction: column
    }
    .boxo-pricing-items {
        display: inline-flex
    }
    .combo-plus {
        margin-left: 10px;
        margin-right: 18px;
        margin-top: 10px
    }
    .add-both-cart-button {
        margin-left: 36px
    }
    .items_text {
        color: #b0b0b0
    }
    .combo_item_price {
        font-size: 18px
    }
    .p_specification {
        font-weight: 500;
        margin-left: 22px
    }
    .mt-10 {
        margin-top: 10px
    }
    @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900');
    * {
        margin: 0;
        padding: 0;
        -webkit-font-smoothing: antialiased;
        -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
        text-shadow: rgba(0, 0, 0, .01) 0 0 1px
    }
    body {
        font-family: 'Rubik', sans-serif;
        font-size: 14px;
        font-weight: 400;
        background: #FFFFFF;
        color: #000000
    }
    div {
        display: block;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }
    ul {
        list-style: none;
        margin-bottom: 0px
    }
    .single_product {
        padding-top: 16px;
        padding-bottom: 140px
    }
    .image_list li {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 165px;
        border: solid 1px #e8e8e8;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
        margin-bottom: 15px;
        cursor: pointer;
        padding: 15px;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
        overflow: hidden
    }
    .image_list li:last-child {
        margin-bottom: 0
    }
    .image_list li:hover {
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3)
    }
    .image_list li img {
        max-width: 100%
    }
    .image_selected {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: calc(100% + 15px);
        height: 525px;
        -webkit-transform: translateX(-15px);
        -moz-transform: translateX(-15px);
        -ms-transform: translateX(-15px);
        -o-transform: translateX(-15px);
        transform: translateX(-15px);
        border: solid 1px #e8e8e8;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        padding: 15px
    }
    .image_selected img {
        max-width: 100%
    }
    .product_category {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.5)
    }
    .product_rating {
        margin-top: 7px
    }
    .product_rating i {
        margin-right: 4px
    }
    .product_rating i::before {
        font-size: 13px
    }
    .product_text {
        margin-top: 27px
    }
    .product_text p:last-child {
        margin-bottom: 0px
    }
    .order_info {
        margin-top: 16px
    }
    .product_quantity {
        width: 182px;
        height: 50px;
        border: solid 1px #e5e5e5;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 25px;
        float: left;
        margin-right: 30px
    }
    .product_quantity span {
        display: block;
        height: 50px;
        font-size: 16px;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.5);
        line-height: 50px;
        float: left
    }
    .product_quantity input {
        display: block;
        width: 30px;
        height: 50px;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.5);
        text-align: left;
        padding-left: 9px;
        line-height: 50px;
        float: left
    }
    .quantity_buttons {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 29px;
        border-left: solid 1px #e5e5e5
    }
    .quantity_inc,
    .quantity_dec {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 50%;
        cursor: pointer
    }
    .quantity_control i {
        font-size: 11px;
        color: rgba(0, 0, 0, 0.3);
        pointer-events: none
    }
    .quantity_control:active {
        border: solid 1px rgba(14, 140, 228, 0.2)
    }
    .quantity_inc {
        padding-bottom: 2px;
        justify-content: flex-end;
        border-top-right-radius: 5px
    }
    .quantity_dec {
        padding-top: 2px;
        justify-content: flex-start;
        border-bottom-right-radius: 5px
    }
    /* About us .........................*/
    .social-link {
        width: 30px;
        height: 30px;
        border: 1px solid #ddd;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #666;
        border-radius: 50%;
        transition: all 0.3s;
        font-size: 0.9rem;
    }
    .social-link:hover,
    .social-link:focus {
        background: #ddd;
        text-decoration: none;
        color: #555;
    }
    /*support*/
    body {
        background-color: #25274d;
    }
    .contact {
        padding: 4%;
        height: 400px;
    }
    .col-md-3 {
        background: #ff9b00;
        padding: 4%;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }
    .contact-info {
        margin-top: 10%;
    }
    .contact-info img {
        margin-bottom: 15%;
    }
    .contact-info h2 {
        margin-bottom: 10%;
    }
    .col-md-9 {
        background: #fff;
        padding: 3%;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
    .contact-form label {
        font-weight: 600;
    }
    .contact-form button {
        background: #25274d;
        color: #fff;
        font-weight: 600;
        width: 25%;
    }
    .contact-form button:focus {
        box-shadow: none;
    }
    /* gio hang */
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }
    li {
        list-style: none;
    }
    /* header */
    nav {
        padding: 15px;
        width: 100%;
        display: flex;
        background: #f1df11;
    }
    nav .content-nav {
        display: flex;
        line-height: 2rem;
        flex-direction: row;
        justify-content: flex-end;
        width: 60%;
    }
    nav .content-nav ul {
        display: flex;
    }
    nav .content-nav ul li a {
        text-decoration: none;
        color: #43433e;
        text-transform: uppercase;
        padding: 0 15px;
        font-weight: 800;
    }
    nav .content-nav ul li a:hover {
        color: #fff;
    }
    .content-nav form {
        position: relative;
    }
    .content-nav form input {
        border: none;
        background: #fff;
        padding: 7px;
        outline: none;
        border-radius: 12px;
    }
    .content-nav form button {
        padding: 5px;
        border-radius: 12px;
        position: absolute;
        right: 0;
        top: 2px;
        border: none;
        outline: none;
        background: #fff;
    }
    /* modal */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    }
    .modal-content {
        margin: 0 auto;
        width: 50%;
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: .3rem;
        outline: 0;
    }
    .modal-body {
        padding: 1rem;
    }
    .modal-footer {
        display: flex;
        border-top: 1px solid #aaaaaa;
        padding: 1rem;
        flex-direction: row;
        justify-content: flex-end;
        border-top: 1px solid #aaaaaa;
        padding: 1rem;
    }
    .modal-footer>:not(:first-child) {
        margin-left: .25rem;
    }
    .btn {
        cursor: pointer;
        outline: none;
        font-weight: 400;
        line-height: 1.25;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        border: 1px solid transparent;
        padding: .5rem 1rem;
        font-size: 1rem;
        border-radius: .25rem;
        transition: all .2s ease-in-out;
    }
    .btn-secondary {
        color: #292b2c;
        background-color: #fff;
        border-color: #ccc;
    }
    .btn-primary {
        color: #fff;
        background-color: #0275d8;
        border-color: #0275d8;
    }
    .modal-header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #aaaaaa;
        padding: 1rem;
    }
    h5.modal-title {
        font-size: 1.5rem;
    }
    .close {
        color: #aaaaaa;
        font-size: 28px;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    #cart {
        font-size: 15px;
        color: #fff;
        background: #c7b200;
        border: 1px solid transparent;
        border-radius: 10px;
        outline: none;
        margin-left: 1rem;
        padding: 12px;
        cursor: pointer;
    }
    #cart:hover {
        border-color: #fff;
    }
    /* wrapper */
    .wrapper {
        padding: 2rem;
    }
    .products ul {
        display: inline-block;
    }
    .products ul .main-product {
        margin-bottom: 2rem;
        margin-right: 1rem;
        display: block;
        float: left;
        width: 24%;
    }
    .products ul .no-margin {
        margin-right: 0;
    }
    .products ul .img-product img {
        width: 100%;
    }
    .content-product .content-product-h3 {
        padding: .5rem 0;
        overflow: hidden;
        color: #222;
        font-weight: 500;
        font-size: 16px;
        max-height: 50px;
        min-height: 50px;
        text-align: center;
        line-height: 19px;
        margin: 0 0 5px;
    }
    .content-product .content-product-deltals {
        display: flex;
        justify-content: center;
        padding-top: 1rem;
    }
    .main-product .content-product .content-product-deltals .price {
        color: #c7b200;
        font-weight: 700;
        margin-right: 1rem;
        vertical-align: middle;
        font-size: 20px;
    }
    .content-product .content-product-deltals .price .money {
        vertical-align: middle;
    }
    .content-product .content-product-deltals .btn-cart {
        background: #f1df11;
        border-radius: 5px;
        color: #fff;
        font-weight: 500;
    }
    .content-product .content-product-deltals .btn-cart:hover {
        background: #c7b200;
    }
    /* footer */
    .footer-item {
        padding: .5rem 2rem;
        background: #f1df11;
        display: flex;
    }
    .footer-item .img-footer {
        align-items: center;
        display: flex;
    }
    .footer-item .img-footer img {
        width: 100%;
    }
    .footer-item .social-footer {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: flex-end;
    }
    .footer-item .social-footer li a {
        color: #000000;
        font-size: 2rem;
    }
    .footer-item .social-footer li:last-child {
        margin-left: .5rem;
    }
    /* footer */
    .footer-item {
        padding: .5rem 2rem;
        background: #f1df11;
        display: flex;
    }
    .footer-item .img-footer {
        align-items: center;
        display: flex;
    }
    .footer-item .img-footer img {
        width: 100%;
    }
    .footer-item .social-footer {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: flex-end;
    }
    .footer-item .social-footer li a {
        color: #000000;
        font-size: 2rem;
    }
    .footer-item .social-footer li:last-child {
        margin-left: .5rem;
    }
    /*cart*/
    @import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);
    body {
        background-color: #eee;
        font-family: 'Calibri', sans-serif !important
    }
    .mt-100 {
        margin-top: 100px
    }
    .card {
        margin-bottom: 30px;
        border: 0;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        letter-spacing: .5px;
        border-radius: 8px;
        -webkit-box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
        box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05)
    }
    .card .card-header {
        background-color: #fff;
        border-bottom: none;
        padding: 24px;
        border-bottom: 1px solid #f6f7fb;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px
    }
    .card-header:first-child {
        border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
    }
    .card .card-body {
        padding: 30px;
        background-color: transparent
    }
    .btn-primary,
    .btn-primary.disabled,
    .btn-primary:disabled {
        background-color: #4466f2 !important;
        border-color: #4466f2 !important
    }
    /*detail*/
    /* Footer color for sake of consistency with Navbar */
    .page-footer {
        background-color: #929FBA;
    }
}